<div fxLayout="column"
  fxLayout.gt-xs="row"
  fxLayoutAlign="space-around stretch"
  fxLayoutAlign.gt-xs="space-around center"
  fxLayoutWrap
  class="container">
  <!-- <div *ngFor="let box of boxes" fxFlex="30" class="box">1</div> -->

  <md-card *ngFor="let box of boxes;trackBy:id" fxFlex="30" class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="'http://lorempixel.com/400/200/city/' + box.id" alt="Photo of a Shiba Inu">
    <md-card-content>
      <p>
        {{ box.id}}---
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions fxLayout="row" fxLayoutAlign="space-around center">
      <button md-raised-button color="warn">LIKE</button>
      <button md-raised-button color="accent">SHARE</button>
    </md-card-actions>
  </md-card>

</div>
