

  <!-- <div><ul>
    <li><h2><a [routerLink]=”[‘/]”>HOME</a></h2></li>
    <li><h2><a [routerLink]=”[‘/home]”>HOME</a></h2></li>
    <li><h2><a [routerLink]=”[‘/blog’]”>BLOG</a></h2></li>
  </ul></div> -->

  <!-- <a routerLink="/">HOME</a>
  <br />
  <a routerLink="/blog"></a> -->

  <a [routerLink]="['/']">HOME</a>
  <br />
  <a [routerLink]="['/blog']">BLOG</a>
  <br />
  <a [routerLink]="['/dashboard']">DASHBOARD</a>
<!--
  <div>
    <ul>
      <li>
        <h2>
          <a href routerLink=”/”>HOME</a>
        </h2>
      </li>
      <li>
        <h2>
          <a href routerLink=”/blog”>BLOG</a>
        </h2>
      </li>
    </ul>
  </div> -->
